{{define "latest_news"}}
<h4>New Website Launched</h4>
<h5>August 13th, 2017</h5>
<p>A new push for allowing our community a place to gather and celebrate our community.</p>

<h4>The Bear is Back</h4>
<h5>August 1st, 2017</h5>
<p>A juvenile bear is out. Keep your trash secure.
<!-- <br /><a href="#">Read more</a></p> -->
{{end}}