{{define "latest_news"}}
<h4>Vintage Sale</h4>
<h5>Sat Oct 7th, Sun Oct 8th</h5>
<p>8am - 3pm: showcase your arts and crafts or sell some vintage and antique items. All funds raised go to the community building.</p>

<h4>New Website Launched</h4>
<h5>August 13th, 2017</h5>
<p>A new push for allowing our community a place to gather and celebrate our community.</p>

<!-- <br /><a href="#">Read more</a></p> -->
{{end}}