{{define "content"}}
<h2>Contact Us</h2>
<p>
    Having an event? Questions on volunteering or donations? Have an idea you want to share? We'd love to hear from you.
</p>
<p>
    There are two easy ways online to reach us, our <a href="https://groups.google.com/d/forum/mountain-home-village">Google Groups page</a>, or by email at <span style="white-space: nowrap;">mountain.home.village<img src="http://www.freeiconspng.com/uploads/at-sign-png-5.png" width="10px"/>gmail.com</span>. We really encourage the use of the Google Groups page as we want that to be a community driven forum.
</p>
<p>
    Some advangates of the Google Group page:
    <ul>
        <li>Works as an email list</li>
        <li>Control your notifications for new posts, get them as often (or a little) as you want</li>
        <li>A great way to have conversations that you can pick back up after a hiatus</li>
    </ul>
</p>
{{end}}