{{define "content"}}
<h2>Donate</h2>

<p>
    The little red community center can only exist through donations. Please consider setting up a recurring donation to help ensure that the community center is here for future generations.
</p>
{{end}}