{{define "content"}}
<h1>Welcome!</h1>
<p>
    This community center page is here to give Mountain Home Village residents (and friends and family) an online place organize gatherings and celebrations open to the community or for private gatherings up at our little red community building.
</p>
<h2>Event Ideas</h2>
<ul>
    <li>Dances</li>
    <li>Holiday Parties</li>
    <li>Bake Sales</li>
    <li>Community Yard Sales</li>
    <li>Game Nights</li>
</ul>

<h2>Donations and Volunteers</h2>
<p>
    Our community's little red community building needs our support. In the coming weeks, we are setting up a non-profit to help manage the community center. This will allow for more organized events and better maintenance of the building.
</p>
<p>
    The community needs your help. We need volunteers to help lay down roofing shingles, scrape and re-paint, and to help with weed abatement. Beyond that, we need funds. Donations allow us to pay taxes, utilities, and for upkeep. Please donate today, and consider a recurring donation to ensure that the community center is here for future generations to enjoy.
</p>
<h2>Upcoming Events</h2>
<iframe src="https://calendar.google.com/calendar/embed?src=rj5a9lh7jddjaj3982kue6ug3s%40group.calendar.google.com&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FLos_Angeles" style="border: 0" width="600" height="500" frameborder="0" scrolling="no"></iframe>
{{end}}